.section-title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-title__title {
  margin: 0 0 23px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.section-title__devider {
  height: 1px;
  background-color: #dadada;
  width: 100%;
}
