.portfolio {
  padding: 0 70px 125px 70px;
  background-color: #202020;
}

.portfolio__title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #8b8b8b;
  mix-blend-mode: normal;
}

.portfolio__list {
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
}

.portfolio__list-item {
  display: flex;
  justify-content: space-between;
}

.portfolio__list-item-text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.portfolio__list-devider {
  background: #424242;
  height: 1px;
  width: 100%;
  margin: 20px 0 20px 0;
}
