.footer {
  padding: 80px 70px 20px 70px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  margin: 0;
}

.footer__devider {
  background: #424242;
  height: 1px;
  width: 100%;
  margin: 20px 0 20px 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__year {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
}

.footer__social {
  display: flex;
  list-style-type: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.footer__social-link {
  margin: 0 0 0 20px;
  padding: 0;
}
