.login {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  height: 100vh;
  align-items: center;
}

.login-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.login__logo {
  margin-top: 70px;
  max-width: 400px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.login-form__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  width: 100%;
}

.login-form__label {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-bottom: 5px;
  width: 100%;
}

.login-form__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 24px;
  background-color: #202020;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px #424242 solid;
  width: 100%;
}

.login-form__button {
  margin-top: auto;
  height: 45px;
  background: #4285f4;
  border-radius: 3px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: none;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
}

.login__text {
  margin-top: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  margin-bottom: 70px;
  width: 100%;
}

.login__link {
  margin-left: 6px;
  text-decoration: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
}

.login-form__button:disabled {
  background-color: #424242;
  cursor: not-allowed;
}

.login-form__input-error {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
  color: #ee3465;
}

.login-form__input:invalid {
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 310px;
  }
  .login__logo {
    width: 310px;
  }
}

@media screen and (max-width: 320px) {
  .login-form {
    width: 260px;
  }
  .login__logo {
    width: 260px;
    justify-content: center;
  }
}
