.about-me {
  background-color: #202020;
  padding: 100px 70px;
}

.about-me__content {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.about-me__name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  margin: 0 0 18px 0;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.about-me__profession {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 26px 0;
  color: #ffffff;
  mix-blend-mode: normal;
}

.about-me__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  mix-blend-mode: normal;
  max-width: 600px;
  margin: 0 0 99px 0;
}

.about-me__social {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.about-me__social-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0 20px 0 0;
  color: #ffffff;
}

.about-me__image {
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .about-me__content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-me__text {
    margin-right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .about-me {
    padding: 100px 14px;
  }
}
